/* GOOGLE FONTS  (font-family: 'Poppins', sans-serif;) */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

/* VARIÁVEIS DO CSS */
:root{
--header-height: 3.5rem;

  /*cores*/

--hue: 171;
--test-color: hsl(171, 51%, 89%);
--first-color: hsl(var(--hue),50%, 80%);
--first-color-alt: hsl(var(--hue),56%, 45%);
--title-color: hsl(180, 53%, 84%);
--text-color: hsl(235, 39%, 59%);
--text-color2: hsl(189, 70%, 40%);
--body-color: hsl(180, 25%, 90%);
--container-color: hsl(222, 26%, 83%);

/*FONTES E TIPOGRAFIAS*/
/* 0.5rem = 8px  1rem = 16px*/
--body-font: "Poppins", sans-serif;
--biggest-font-size: 2rem;
--bigger-font-size: 1.25rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/* PESO DAS FONTES ( Font Weight) */
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Z INDEX*/
--z-tooltip: 10;
--z-fixed: 100;
}

/* Tipografia Responsiva*/

@media screen and (min-width: 1152px) {
  :root {
  --biggest-font-size: 4rem;
  --bigger-font-size: 2rem;
  --h1--font-size: 2.25rem;
  --h2--font-size: 1.5rem;
  --h3--font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  }
}

.outdoor{margin-top: 50px;}

/* BASE */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

input,
textarea,
button,
body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button{
  outline: none;
  border: none;
}

h1,h2,h3,h4{
  color: hsl(214, 22%, 25%);;
  font-weight: var(--font-medium);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img,
svg{
  max-width: 100%;
  height: auto;
}
/* CLASSES CSS REUTILIZAVEIS */
.container{
  max-width: 1120px;
  margin-inline: 1.5rem;
  display: flex;
  align-items: center;
  
  text-align: center;
}
.container2{
  max-width: 1120px;
  margin-inline: 1.5rem;
  display: flex;
  align-items: center;
  
  text-align: center;
}

.outdoor{
 height: 50%;
}

.grid {
  display: grid;
  gap: 1.5rem;
  }

.section{
  padding-block: 5rem 2rem;
  gap: 25px;
  
}

.text{
  text-align: justify;
  text-indent: 50px;
}

.section__title,
.section__subtitle{

  text-align: center;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.section__title{
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;   
}

.section__subtitle{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}
.section__subtitle span{
  color: var(--text-color)
}

.main{
    overflow: hidden; /* para animação scrollreveal*/
}

/* HEADER E NAV */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav_link{
  color: hsl(258, 50%, 50%);
}

.nav_item{
  color: hsl(248, 39%, 89%);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    columns: var(--font-medium);
    color: var(--text-color);
    font-style: oblique;
    font-size: 18px;
}

.nav__logo span{
    color: var(--text-color2);
    font-size: 15px;
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    justify-content: flex-end;
    margin-right: 15px;
    
}

.nav__toggle{
  color: rgb(109, 38, 240);
}

.person{
  max-width: 100vw;
}

.button{
  background-color: rgb(109, 38, 240);
  color: rgb(173, 241, 241);
  padding: 20px;
  border-radius: 8px;
}

/* === NAVEGAÇÃO PARA MOBILES === */
@media screen and (max-width:4320px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 50%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /*para navegador safari*/
        transition: right .4s;
    }

}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}
.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute ;
    top: 1rem;
    right: 1.5rem;
}

/* mostrar menu */
.show-menu{
    right: 0;
}

/* adicionar blur para o header */
.blur-header{
    background-color: transparent; 
}
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 24%, 90%, 0.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* para safari*/
    top: 0;
    left: 0;
    z-index: -1;
}


/* para*/ 

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding: 0 2rem;
    margin: 10px;
    margin-top: 10px;
}
.container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
}

.imageContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
    position: relative;
    width: 50%;
    gap: 25px;
    bottom: 0%;
    z-index: 20;
    row-gap: 5;
    filter:blur(0.5px);
    
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}



.imgContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2400px;

    height: auto;
    gap: 25px;
}

.imgContainer2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 2400px;
  height: auto;
}

.imgContainer3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 700px;
  height: auto;
  row-gap: 50px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
display: flex;
flex-direction: row-reverse;
align-items: center;
gap: 5%;
border: 5%;
}

.container2{
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10%;
  border: 15px;
  }




/*  CONTATO */


.contact__container {
    padding-top: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.contact__form,
.contact__group{
    display: grid;
    row-gap: 1rem;
   
}

.contact__form{

    position: relative;
    
}

.contact__input{
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: hsl(175, 33%, 73%);
    color: var(--title-color);
    
}

.contact__input::placeholder{

    color: var(--text-color);
}

.contact__form{
    height: 22rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact__button{
    justify-self: center;
    cursor: pointer;
    
}

.contact__message{
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    columns: var(--title-color);
}


@media screen and (max-width:390px){
.section, .container, .container2, .imgContainer, .imgContainer2, .imgContainer3 {
  display: flex;
  flex-direction: column;
}
.imgContainer, .imgContainer2, .imgContainer3 {
  width: 250px;
}

}

@media screen and (max-width:750px){
  .section, .container, .container2, .imgContainer, .imgContainer2, .imgContainer3 {
    display: flex;
    flex-direction: column;
  }
  .imgContainer, .imgContainer2, .imgContainer3 {
    width: 300px;
    margin: 10px;
  }

  .text {
    margin: 20px;
  }


  
  }

